
<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">Campaigns</li>
        <li><a href="/"><i class="icon-home"></i> All campaigns</a></li>
        <li><a href="/create"><i class="icon-edit"></i> Create new campaign</a></li>
    </ul>
    <ul class="nav nav-list">
        <li class="nav-header">Templates</li>
        <li><a href="/templates"><i class="icon-envelope"></i> All templates</a></li>
    </ul>
    <ul class="nav nav-list">
        <li class="nav-header">Lists & subscribers</li>
        <li><a href="/list"><i class="icon-align-justify"></i> View all lists</a></li>
    </ul>
    <ul class="nav nav-list">
        <li class="nav-header">Reports</li>
        <li><i class="icon-zoom-in"></i> See reports</a></li>
    </ul>
</div>